<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact us about the Ruby on Rails Tutorial sample app from the 
  <a href="http://railstutorial.org/contact">Rails Tutorial contact page</a>.
</p>