<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a> by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
  </br>
  <small>This sample app was created by <a href="https://github.com/ea0723">ea0723</a> on Ruby 2 & Rails 4.
  </small>
</footer>